{% extends "base.html" %}
{% block content%}
<style>
    .kol{
    background-color: lightblue;
    font-style: oblique;
    font-size: x-large;
    margin-bottom: 36px;

    }
    .edit_btn{
    background-color: #b72929;
    padding: 5px;
    color: white;
    border-radius: 12px
   }



</style>
<div class="asd">
    <h1 class="ashish">Topics : </h1>
</div>
<ul class="ac">
    {%for topic in topics%}

    <li class="da">
        <a class="ax" href="{% url 'learn:topic1' topic.id %}">{{ topic }}</a>

    </li>
    <li>
        <a class="edit_btn" href="{% url 'learn:deltopic' topic.id %}"> delete topic</a>
    </li>


    {%empty%}
    <li class="kol">no topics have been added yet.</li>
    {% endfor %}
</ul>
<div class="addtop">
<a class="addtopic" href="{% url 'learn:new_topic' %}">Add a new topic:</a>
</div>


{%endblock content%}
