<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<style>
    .roy{
     background-color: lightblue;
    font-style: oblique;
    font-size: x-large;
    margin-bottom: 36px;
    }

    .del_en
    {
    background-color: #b72929;
    padding: 5px;
    color: white;
    border-radius: 12px


    }

</style>
<p class="top">Topic: {{ topics }}</p>
<p class="ent">Entries:</p>
<p>
  <a class="newEbtn" href="{% url 'learn:new_entry' topics.id %}">add new entry</a>
</p>
<ul>
{% for entry in entries %}
    <li>
<p class="time">{{ entry.date_added|date:'M d, Y H:i' }}</p>
<p class="entr">{{ entry.text|linebreaks }}</p>
<p>
    <a class="addent" href="{% url 'learn:edit_entry' entry.id %}"> Edit_entry</a>
</p>
        <a class="del_en" href="{% url 'learn:del_ent' entry.id  entry.topic.id %}">delete entry</a>

    </li>
{% empty %}
 <li class="roy">
 There are no entries for this topic yet.
 </li>
    {% endfor %}
 </ul>
{% endblock content %}
